html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Consolas, monaco, monospace;
  font-size: 70px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 70px;
  text-transform: uppercase;
  color: #C830CC;
  }
  
h2 {
  font-family: Consolas, monaco, monospace;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  border-left: 2px #C830CC solid;
  padding-left: 4px;
  color: #4775E7;
  }
  
h3 {
  font-family: Consolas, monaco, monospace;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 36px;
  color: #C830CC;
  }
  
h4 {
  font-family: Consolas, monaco, monospace;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 22x;
  text-transform: uppercase;
  color: #4775E7;
  }
  
p {
  font-family: Consolas, monaco, monospace;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 22px;
  }
  
blockquote {
  font-family: Consolas, monaco, monospace;
  font-size: 42px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 50px;
}
  
pre {
  font-family: Consolas, monaco, monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
  }
  
.home {
  max-width: 45vw;
  margin-left: 34px;
  z-index: 10;
  left: 50vw;
  position: relative
}

.key {
	font-style: italic;
}
.highlight {
  color: #C830CC;
  transition: all 4s ease-out
}
.highlight:nth-child(even) {
  color: #4775E7;
  transition: all 4s ease-out
}

.intro-thumb {
  display: block;
  height: 25vh;
  width: 50vw;
  left: 0;
  position: relative;
  z-index: 0;
}

.full {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  z-index: 0;
}

a.back {
  color: white;
  position: absolute;
  top: 2.5vh;
  right: 2.5vw;
  color: #000;
  text-decoration: none;
  font-family: Consolas, monaco, monospace;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 36px;
  color: #C830CC;
}

.barba-container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
footer {
    width: 50vh;
    height: 10vh;
    bottom: 0;
    left: 55vw;
    position: relative;
  }

@media (max-width: 850px) {
	h1 {
		font-size: 42px
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 30px;
	}
	h4 {
		font-size: 15px
	}
	p {
		font-size: 15px
	}
	.barba-container {
		 display: flex;
	}
	.intro-thumb {
		 left: 0;
		 height: 20vh
	}
	.home {
		padding-top: 25vw;
		max-width: 88vw;
	}
  footer {
    width: 100vh;
    height: 10vh;
    bottom: 0;
    left: 0;
  }
}